@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&family=Roboto:wght@100&display=swap');

@media (max-width: 768px) {

    .container {
        top: 1rem !important;
        bottom: 0rem !important;
    }

    img {
      width: 75%;
      position: relative;
      left: 2rem;
      top: 1rem;
    }

    .text-note{
        position: relative;
        bottom: 1rem;
    }

  }


html{
    background-color: blueviolet;
    font-family: 'Prompt', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(153, 118, 185);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
    width: fit-content;
    position: relative;
    top: 8rem;
}

img {
    border-radius: 5px;
    margin-left: 3vh;
}




.text-note {
    background-color: #00000071;
    color: aliceblue;
    font-family: 'Prompt', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 5rem;
    width: 20rem;
    position: relative;
    left: 1rem;
}

input {
    width: 100%;
    display: inline;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form {
    width: fit-content;
    margin: 3rem;
}

#submit {
    width: 8rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    background-color: #00000071;
    color: white;
    border: white;
    border-radius: 10px;
    position: relative;
    left: 7rem;
    top: 1rem;
}

